
body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
html a {
    display: inline-block;
    text-decoration: none;
    color: inherit
}
html * {
    outline: none
}
html .icon {
    flex-shrink: 0
}
html .icon.icon-terminal {
    background-image: url('img/icon/terminal.png')
}
html .icon.icon-directory {
    background-image: url('img/icon/directory.png')
}
html .icon.icon-github {
    background-image: url('img/icon/github.png')
}
html .icon.icon-resume {
    background-image: url('img/icon/resume.png')
}
html .icon.icon-email {
    background-image: url('img/icon/email.png')
}
html .icon.icon-paypal {
    background-image: url('img/icon/paypal.png')
}
html .icon.icon-profile {
    background-image: url('https://avatars1.githubusercontent.com/u/43205384?s=460&v=4')
}
html .icon.icon-browser {
    background-image: url('img/icon/browser.png')
}
html .icon.icon-attribution {
    background-image: url('img/icon/attribution.png')
}
html .icon.icon-instagram {
    background-image: url('img/icon/instagram.png')
}
html .icon.icon-version_history {
    background-image: url('img/icon/version_history.png')
}
html .screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}
html .screen .desktop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #3D3D3D url('img/wallpaper.jpg') center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem
}
html .screen .desktop .github-corner svg {
    fill: #E54E43;
    color: #3D3D3D;
    position: absolute;
    top: 0;
    border: 0;
    right: 0
}
html .screen .desktop .app-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 32rem;
    justify-content: center;
    overflow-y: auto;
    padding: 1rem
}
html .screen .desktop .app-container .app {
    position: relative;
    z-index: 1;
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.2rem;
    transition: background-color 0.2s
}
html .screen .desktop .app-container .app.link-external .name {
    position: relative
}
html .screen .desktop .app-container .app.link-external .name:after {
    position: absolute;
    content: '';
    display: inline-block;
    margin-left: 0.3rem;
    width: 0.8em;
    height: 100%;
    background: url('img/link-external.png') no-repeat bottom;
    background-size: contain;
    opacity: .5
}
html .screen .desktop .app-container .app .icon {
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0.2rem;
    filter:drop-shadow(0 0 2px rgba(0, 0, 0, 0.5))
}
html .screen .desktop .app-container .app .name {
    font-size: 0.8rem;
    color: white;
    text-shadow: 0 0 4px black;
    text-align: center;
    height: 1em
}
html .screen .desktop .app-container .app:hover {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2)
}
html .screen .desktop .app-container .app:active {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4)
}
html .screen .desktop .window-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none
}
html .screen .desktop .window-container .window {
    position: absolute;
    background-color: white;
    box-shadow: 0 0 48px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    pointer-events: auto;
    visibility: hidden;
    opacity: 0;
    transition: top 0.2 s, left 0.2 s, width 0.2 s, height 0.2 s, opacity 0.2 s, visibility 0.2 s, box-shadow 0.2s
}
html .screen .desktop .window-container .window iframe {
    display: none
}
html .screen .desktop .window-container .window.focus .content .interceptor {
    display: none
}
html .screen .desktop .window-container .window.moving,
html .screen .desktop .window-container .window.resizing {
    transition: none
}
html .screen .desktop .window-container .window.moving .content .interceptor,
html .screen .desktop .window-container .window.resizing .content .interceptor {
    display: block
}
html .screen .desktop .window-container .window.open {
    visibility: visible;
    opacity: 1
}
html .screen .desktop .window-container .window.open iframe {
    display: block
}
html .screen .desktop .window-container .window.open .content {
    display: flex
}
html .screen .desktop .window-container .window.no-toolbar .toolbar {
    flex: 1;
    border-bottom: none;
    background: none
}
html .screen .desktop .window-container .window.no-toolbar .toolbar .title-container .name {
    color: #DDD
}
html .screen .desktop .window-container .window.no-toolbar .content {
    position: absolute;
    top: 2.8rem;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    box-sizing: border-box
}
html .screen .desktop .window-container .window.focus {
    box-shadow: 0 0 48px rgba(0, 0, 0, 0.4)
}
html .screen .desktop .window-container .window.focus .toolbar .button-container .button.button-close {
    background-color: #FC615D
}
html .screen .desktop .window-container .window.focus .toolbar .button-container .button.button-minimize {
    background-color: #FDBC40
}
html .screen .desktop .window-container .window.focus .toolbar .button-container .button.button-maximize {
    background-color: #34C749
}
html .screen .desktop .window-container .window.maximize {
    top: 0 !important;
    left: 0 !important;
    height: calc(100% - 3rem) !important;
    width: 100vw !important
}
html .screen .desktop .window-container .window.minimize {
    top: 100vh !important;
    opacity: 0
}
html .screen .desktop .window-container .window .toolbar {
    flex-shrink: 0;
    background-color: #DDD;
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #CCC;
    overflow: hidden
}
html .screen .desktop .window-container .window .toolbar .button-container {
    position: absolute;
    padding: 1rem 0.8rem;
    display: flex
}
html .screen .desktop .window-container .window .toolbar .button-container .button {
    background-color: #CCC;
    width: 0.8rem;
    height: 0.8rem;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    box-sizing: border-box;
    margin-right: 0.5rem;
    transition: background-color 0.2s
}
html .screen .desktop .window-container .window .toolbar .button-container .button:last-child {
    margin-right: 0
}
html .screen .desktop .window-container .window .toolbar .button-container .button:active {
    border-width: 2px
}
html .screen .desktop .window-container .window .toolbar .title-container {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 5rem
}
html .screen .desktop .window-container .window .toolbar .title-container .icon {
    width: 1.2rem;
    height: 1.2rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter:drop-shadow(0 0 1px #888);
    margin-right: 0.4rem
}
html .screen .desktop .window-container .window .toolbar .title-container .name {
    font-size: 0.8rem;
    color: #444;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0
}
html .screen .desktop .window-container .window .toolbar .tab-container {
    align-self: stretch;
    margin-left: 5.8rem;
    display: flex;
    align-items: flex-end;
    height: 2.8rem
}
html .screen .desktop .window-container .window .toolbar .tab-container .tab {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    height: 2rem;
    background-color: #DDD;
    margin-right: 1rem;
    filter:drop-shadow(0 0 1px #888);
    max-width: 12rem;
    padding: 0 0.5rem;
    transition: background-color 0.2s
}
html .screen .desktop .window-container .window .toolbar .tab-container .tab .icon {
    width: 1.2rem;
    height: 1.2rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter:drop-shadow(0 0 1px #888);
    margin-right: 0.4rem
}
html .screen .desktop .window-container .window .toolbar .tab-container .tab .name {
    flex: 1;
    font-size: 0.8rem;
    color: #444;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 0;
    margin-right: 0.4rem
}
html .screen .desktop .window-container .window .toolbar .tab-container .tab .close {
    position: relative;
    color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s
}
html .screen .desktop .window-container .window .toolbar .tab-container .tab .close:after {
    content: '×'
}
html .screen .desktop .window-container .window .toolbar .tab-container .tab .close:before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.8rem;
    box-sizing: border-box;
    transition: background-color 0.2s
}
html .screen .desktop .window-container .window .toolbar .tab-container .tab .close:hover {
    color: #CCC
}
html .screen .desktop .window-container .window .toolbar .tab-container .tab .close:hover:before {
    background-color: #FC615D
}
html .screen .desktop .window-container .window .toolbar .tab-container .tab:after,
html .screen .desktop .window-container .window .toolbar .tab-container .tab:before {
    position: absolute;
    content: '';
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 2rem solid #DDD;
    transition: border-color 0.2s
}
html .screen .desktop .window-container .window .toolbar .tab-container .tab:before {
    left: -1rem;
    border-left: 1rem solid transparent
}
html .screen .desktop .window-container .window .toolbar .tab-container .tab:after {
    right: -1rem;
    border-right: 1rem solid transparent
}
html .screen .desktop .window-container .window .toolbar .tab-container .tab.active {
    z-index: 1;
    background-color: #CCC
}
html .screen .desktop .window-container .window .toolbar .tab-container .tab.active:after,
html .screen .desktop .window-container .window .toolbar .tab-container .tab.active:before {
    border-bottom-color: #CCC
}
html .screen .desktop .window-container .window .content {
    position: relative;
    flex: 1 0;
    overflow: hidden;
    display: none
}
html .screen .desktop .window-container .window .content .interceptor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}
html .screen .desktop .window-container .window .border {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}
html .screen .desktop .window-container .window .border.border-bottom,
html .screen .desktop .window-container .window .border.border-top {
    height: 4px;
    cursor: ns-resize
}
html .screen .desktop .window-container .window .border.border-top {
    bottom: auto
}
html .screen .desktop .window-container .window .border.border-bottom {
    top: auto
}
html .screen .desktop .window-container .window .border.border-left,
html .screen .desktop .window-container .window .border.border-right {
    width: 4px;
    cursor: ew-resize
}
html .screen .desktop .window-container .window .border.border-left {
    right: auto
}
html .screen .desktop .window-container .window .border.border-right {
    left: auto
}
html .screen .desktop .window-container .window .border.border-bottom.border-right,
html .screen .desktop .window-container .window .border.border-top.border-left {
    cursor: nwse-resize
}
html .screen .desktop .window-container .window .border.border-bottom.border-left,
html .screen .desktop .window-container .window .border.border-top.border-right {
    cursor: nesw-resize
}
html .screen .desktop .window-container .window#directory .content {
    align-items: stretch
}
html .screen .desktop .window-container .window#directory .content .panel-container {
    flex: 1;
    border-right: solid 1px #CCC;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column
}
html .screen .desktop .window-container .window#directory .content .panel-container.panel-container-preview {
    flex: 2;
    border-right: none
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel {
    display: none
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.open {
    display: flex
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-child,
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-root {
    flex-direction: column
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-child .directory,
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-root .directory {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0.2rem 0.4rem
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-child .directory.directory-parent,
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-root .directory.directory-parent {
    display: none
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-child .directory .icon,
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-root .directory .icon {
    height: 1.2rem;
    width: 1.2rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.4rem
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-child .directory .name,
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-root .directory .name {
    font-size: 0.8rem;
    color: black
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-child .directory.active,
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-root .directory.active {
    background-color: #116CD6
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-child .directory.active .name,
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-root .directory.active .name {
    color: white
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-preview {
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    padding: 2rem
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-preview .preview {
    max-height: 12rem;
    max-width: 16rem;
    margin-bottom: 1rem
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-preview .property-container {
    display: flex;
    flex-direction: column
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-preview .property-container a.property {
    color: #398FFB;
    word-break: break-all
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-preview .property-container .property {
    display: flex;
    flex: 1 0;
    margin-left: -1rem;
    margin-bottom: 0.4rem;
    color: #444;
    line-height: 1.5em
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-preview .property-container .property a {
    font-weight: bold
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-preview .property-container .property:before {
    font-size: 0.8rem;
    min-width: 4rem;
    color: #999;
    margin-right: 0.5rem;
    text-align: right
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-preview .property-container .property.property-name:before {
    content: 'Name'
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-preview .property-container .property.property-location:before {
    content: 'Location'
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-preview .property-container .property.property-date:before {
    content: 'Date'
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-preview .property-container .property.property-gpa:before {
    content: 'GPA'
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-preview .property-container .property.property-link:before {
    content: 'Link'
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-preview .property-container .property.property-detail:before {
    content: 'Detail'
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-preview .property-container .property.property-organizer:before {
    content: 'Organizer'
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-preview .property-container .property.property-place:before {
    content: 'Place'
}
html .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-preview .property-container .property.property-position:before {
    content: 'Position'
}
html .screen .desktop .window-container .window#browser .content {
    flex-direction: column;
    align-items: stretch
}
html .screen .desktop .window-container .window#browser .content .addressbar {
    flex-shrink: 0;
    background-color: #EEE;
    display: flex;
    align-items: stretch;
    padding: 0.2rem 0.4rem
}
html .screen .desktop .window-container .window#browser .content .addressbar .url {
    flex: 1;
    border: solid 1px #CCC;
    border-radius: 4px 0 0 4px;
    padding: 0.2rem 0.4rem;
    background-color: white;
    color: #444;
    font-size: 0.8rem;
    user-select: all;
    white-space: nowrap
}
html .screen .desktop .window-container .window#browser .content .addressbar .button {
    border: solid 1px #CCC;
    border-radius: 4px;
    padding: 0.2rem 0.4rem;
    color: #444;
    font-size: 0.8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}
html .screen .desktop .window-container .window#browser .content .addressbar .button:active {
    box-shadow: inset 0 0 4px #CCC
}
html .screen .desktop .window-container .window#browser .content .addressbar .button.button-refresh {
    flex-shrink: 0;
    margin-right: 0.2rem
}
html .screen .desktop .window-container .window#browser .content .addressbar .button.button-refresh:before {
    content: '↻'
}
html .screen .desktop .window-container .window#browser .content .addressbar .button.button-new {
    border-left: 0;
    border-radius: 0 4px 4px 0
}
html .screen .desktop .window-container .window#browser .content .addressbar .button.button-new:before {
    content: 'Open in a new tab'
}
html .screen .desktop .window-container .window#browser .content .iframe {
    width: 100%;
    flex: 1 0;
    border: none
}
html .screen .desktop .window-container .window#paypal .toolbar {
    background-image: radial-gradient(circle at center, #009cde, #003087 125%)
}
html .screen .desktop .window-container .window#paypal .content {
    flex-direction: column;
    align-items: center;
    justify-content: center
}
html .screen .desktop .window-container .window#paypal .content #paypal-success.open ~ .message:before {
    content: 'Thank you for your donation!'
}
html .screen .desktop .window-container .window#paypal .content #paypal-success.open ~ .menu-container {
    display: none
}
html .screen .desktop .window-container .window#paypal .content .message {
    color: white;
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 2rem;
    text-align: center
}
html .screen .desktop .window-container .window#paypal .content .message:before {
    content: 'conyconydev@gmail.com'
}
html .screen .desktop .window-container .window#paypal .content .menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 2rem;
    padding-bottom: 2rem;
    overflow-y: auto;
    pointer-events: auto;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.9, #000), to(transparent))
}
html .screen .desktop .window-container .window#paypal .content .menu-container .menu {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 1rem;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2)
}
html .screen .desktop .window-container .window#paypal .content .menu-container .menu:last-child {
    border-bottom: none
}
html .screen .desktop .window-container .window#paypal .content .menu-container .menu .icon {
    height: 2rem;
    width: 2rem;
    background-position: center;
    background-size: cover;
    margin-right: 0.5rem;
    filter:drop-shadow(0 0 2px rgba(0, 0, 0, 0.5))
}
html .screen .desktop .window-container .window#paypal .content .menu-container .menu .name {
    flex: 1;
    color: white;
    font-weight: lighter;
    margin-right: 2rem
}
html .screen .desktop .window-container .window#paypal .content .menu-container .menu .price {
    color: white;
    font-weight: lighter;
    margin-right: 2rem;
    white-space: nowrap
}
html .screen .desktop .window-container .window#paypal .content .menu-container .menu .price:before {
    content: '$\00a0'
}
html .screen .desktop .window-container .window#paypal .content .menu-container .menu .donate {
    height: 3rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #EBEBEB;
    color: #009cde;
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 0 2rem;
    cursor: pointer
}
html .screen .desktop .window-container .window#paypal .content .menu-container .menu .donate:hover {
    background-color: #DDD
}
html .screen .desktop .window-container .window#paypal .content .menu-container .menu .donate:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #d1d1d1;
    color: white
}
html .screen .desktop .window-container .window#paypal .content .menu-container .menu .donate:before {
    content: 'Donate'
}
html .screen .desktop .window-container .window#terminal {
    background: none
}
html .screen .desktop .window-container .window#terminal.focus .content .line-container .line .letter.cursor {
    border: none;
    margin: 0;
    background-color: #2FCB29;
    color: black;
    animation: blink 1s 1s infinite step-end
}
@keyframes blink {
    from {
        background-color: #ffffff;
        color: black
    }
    50% {
        background-color: black;
        color: #ffffff
    }
}
html .screen .desktop .window-container .window#terminal .content {
    flex-direction: column;
    align-items: stretch
}
html .screen .desktop .window-container .window#terminal .content .line-container {
    flex: 1;
    background-color: rgba(66, 66, 66, 0.9);
    padding: 0.2rem;
    overflow-y: auto
}

html .screen .desktop .window-container .window#terminal .content .line-container .line {
    flex-shrink: 0;
    font-family: 'Roboto Mono', sans-serif;
    color: #9ffa73;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    white-space: pre-wrap;
    word-break: break-all
}
html .screen .desktop .window-container .window#terminal .content .line-container .line:empty:before {
    content: '\00a0'
}
html .screen .desktop .window-container .window#terminal .content .line-container .line .letter {
	color: #ffffff;
    padding: 0;
    margin: 0;
    white-space: pre
}
html .screen .desktop .window-container .window#terminal .content .line-container .line .letter.cursor {
    border: solid 1px #ffffff;
    margin: -1px;
    box-sizing: border-box
}
html .screen .desktop .window-container .window#terminal .content .line-container .line .letter.cursor:empty:before {
    content: '\00a0'
}
html .screen .desktop .window-container .window#terminal .content .line-container .line .highlight {
    font-weight: bold
}
html .screen .desktop .window-container .window#terminal .content .line-container .line .underline {
    text-decoration: underline
}
html .screen .desktop .window-container .window#terminal .content .line-container .line .dir {
    color: #65A6CA;
    font-weight: bold
}
html .screen .desktop .window-container .window#terminal .content .line-container .line .file {
    color: #ffffff
}
html .screen .desktop .window-container .window#attribution .content {
    justify-content: center;
    flex-direction: column
}
html .screen .desktop .window-container .window#attribution .content .row-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 1rem 2rem
}
html .screen .desktop .window-container .window#attribution .content .row-container .row {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: solid 1px #CCC
}
html .screen .desktop .window-container .window#attribution .content .row-container .row:last-child {
    border-bottom: none
}
html .screen .desktop .window-container .window#attribution .content .row-container .row .icon {
    position: relative;
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 1rem
}
html .screen .desktop .window-container .window#attribution .content .row-container .row .icon:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('img/transparent.png') repeat top left;
    background-size: 8px 8px;
    z-index: -1
}
html .screen .desktop .window-container .window#attribution .content .row-container .row .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 2rem
}
html .screen .desktop .window-container .window#attribution .content .row-container .row .info .path {
    color: blue;
    text-decoration: underline
}
html .screen .desktop .window-container .window#attribution .content .row-container .row .info .artist {
    flex: 1
}
html .screen .desktop .window-container .window#attribution .content .row-container .row .info .artist:before {
    content: 'by\00a0'
}
html .screen .desktop .window-container .window#attribution .content .row-container .row .link {
    color: blue;
    text-decoration: underline;
    margin-right: 1rem
}
html .screen .desktop .window-container .window#instagram .toolbar {
    background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000)
}
html .screen .desktop .window-container .window#instagram .content {
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    pointer-events: auto
}
html .screen .desktop .window-container .window#instagram .content .photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: auto;
    margin-bottom: -3px
}
html .screen .desktop .window-container .window#instagram .content .photo-container .photo {
    display: block;
    flex-basis: calc(33.33% - 2px);
    height: auto;
    background-size: cover;
    background-position: center;
    margin-bottom: 3px
}
html .screen .desktop .window-container .window#instagram .content .photo-container .photo .ratio {
    width: 100%;
    height: auto
}
html .screen .desktop .window-container .window#instagram .content .embed-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2 s, opacity 0.2s
}
html .screen .desktop .window-container .window#instagram .content .embed-container.open {
    visibility: inherit;
    opacity: 1
}
html .screen .desktop .window-container .window#instagram .content .embed-container iframe {
    flex-shrink: 0;
    width: calc(100% - 4rem) !important;
    max-width: 480px !important;
    margin: 2rem !important;
    box-shadow: 0 0 48px rgba(0, 0, 0, 0.3) !important
}
html .screen .desktop .window-container .window#version_history .content {
    flex-direction: column;
    align-items: stretch
}
html .screen .desktop .window-container .window#version_history .content .version-container {
    flex: 1;
    display: flex;
    flex-direction: column
}
html .screen .desktop .window-container .window#version_history .content .version-container .version {
    flex: 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}
html .screen .desktop .window-container .window#version_history .content .version-container .version:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(136, 136, 136, 0.2);
    opacity: 0;
    transition: opacity 0.2s
}
html .screen .desktop .window-container .window#version_history .content .version-container .version:hover:after {
    opacity: 1
}
html .screen .desktop .window-container .window#version_history .content .version-container .version.version-0 {
    background-color: #80CBC4;
    color: #004D40
}
html .screen .desktop .window-container .window#version_history .content .version-container .version.version-0:before {
    content: 'Version 0'
}
html .screen .desktop .window-container .window#version_history .content .version-container .version.version-1 {
    background-color: white;
    color: black
}
html .screen .desktop .window-container .window#version_history .content .version-container .version.version-1:before {
    content: 'Version 1'
}
html .screen .desktop .window-container .window#version_history .content .version-container .version.version-2 {
    background-color: black;
    color: white
}
html .screen .desktop .window-container .window#version_history .content .version-container .version.version-2:before {
    content: 'Version 2'
}
html .screen .taskbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    height: 3rem;
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2)
}
html .screen .taskbar .label {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 1rem;
    white-space: nowrap
}
html .screen .taskbar .label .icon {
    height: 2rem;
    width: 2rem;
    background-position: center;
    background-size: cover;
    margin-right: 0.5rem;
    border-radius: 0.2rem
}
html .screen .taskbar .label .name {
    font-size: 0.8rem;
    color: white
}
html .screen .taskbar .shortcut-container {
    flex: 1;
    display: flex;
    overflow-x: auto
}
html .screen .taskbar .shortcut-container .shortcut {
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    transition: max-width 0.2 s, opacity 0.2 s, background-color 0.2s
}
html .screen .taskbar .shortcut-container .shortcut .icon {
    height: 2.2rem;
    width: 2.2rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 1rem
}
html .screen .taskbar .shortcut-container .shortcut .name {
    display: none
}
html .screen .taskbar .shortcut-container .shortcut:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: solid 3px white;
    opacity: 0;
    transition: opacity 0.2s
}
html .screen .taskbar .shortcut-container .shortcut:hover {
    background-color: rgba(0, 0, 0, 0.2)
}
html .screen .taskbar .shortcut-container .shortcut:active {
    background-color: rgba(0, 0, 0, 0.4)
}
html .screen .taskbar .shortcut-container .shortcut.active:after {
    opacity: 1
}
html .screen .taskbar .shortcut-container .shortcut.hidden {
    max-width: 0;
    opacity: 0
}
html .screen .taskbar .shortcut-container .shortcut.hidden.active {
    max-width: 4.2rem;
    opacity: 1
}
html.mobile {
    font-size: 18px
}
html.mobile body .screen .desktop .window-container .window {
    top: 0 !important;
    left: 0 !important;
    height: calc(100% - 3rem) !important;
    width: 100vw !important
}
html.mobile body .screen .desktop .window-container .window .toolbar .button-container {
    cursor: pointer
}
html.mobile body .screen .desktop .window-container .window .toolbar .button-container .button {
    pointer-events: none
}
html.mobile body .screen .desktop .window-container .window#directory .content {
    position: relative
}
html.mobile body .screen .desktop .window-container .window#directory .content .panel-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0
}
html.mobile body .screen .desktop .window-container .window#directory .content .panel-container .panel {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    background-color: white
}
html.mobile body .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-child .directory.directory-parent,
html.mobile body .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-root .directory.directory-parent {
    display: flex
}
html.mobile body .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-preview .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
html.mobile body .screen .desktop .window-container .window#directory .content .panel-container .panel.panel-preview .close:after {
    content: '×'
}
html.mobile body .screen .desktop .window-container .window#paypal .content .menu-container .menu {
    flex-direction: column;
    text-align: center
}
html.mobile body .screen .desktop .window-container .window#paypal .content .menu-container .menu .icon {
    margin-right: 0;
    margin-bottom: 0.5rem
}
html.mobile body .screen .desktop .window-container .window#paypal .content .menu-container .menu .name {
    margin-right: 0;
    margin-bottom: 1.5rem
}
html.mobile body .screen .desktop .window-container .window#paypal .content .menu-container .menu .price {
    margin-right: 0;
    margin-bottom: 0.5rem
}
html.mobile body .screen .desktop .window-container .window#attribution .content .row-container .row {
    flex-direction: column
}
html.mobile body .screen .desktop .window-container .window#attribution .content .row-container .row .icon {
    margin-right: 0
}
html.mobile body .screen .desktop .window-container .window#attribution .content .row-container .row .info {
    margin-right: 0;
    margin-bottom: 1rem;
    text-align: center
}
html.mobile body .screen .desktop .window-container .window#attribution .content .row-container .row .link {
    margin-right: 0
}
html.mobile body .screen .taskbar .label.label-profile .icon {
    display: none
}
html.mobile body .screen .taskbar .label.label-clock {
    display: none
}
html.mobile body .screen .taskbar .shortcut-container .shortcut {
    max-width: 0;
    opacity: 0
}
html.mobile body .screen .taskbar .shortcut-container .shortcut.active {
    max-width: 4.2rem;
    opacity: 1
}