<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
      {% if site.avatar %}
        <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
      {% endif %}

      <div class="site-info">
        <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
        <p class="site-description">{{ site.description }}</p>
      </div>

	  <nav>
		{% if page.url contains 'project' %}
			<a href="{{ site.baseurl }}/category/project">Project</a>
			<a href="{{ site.baseurl }}/tags/project_tag">Tag</a>
		{% elsif page.url contains 'daily' %}
			<a href="{{ site.baseurl }}/category/daily">Daily</a>
			<a href="{{ site.baseurl }}/tags/daily_tag">Tag</a>
		{% elsif page.url contains 'post' %}
			<a href="{{ site.baseurl }}/category/post">Post</a>
			<a href="{{ site.baseurl }}/tags/post_tag">Tag</a>
		{% elsif page.url contains 'education' %}
			<a href="{{ site.baseurl }}/category/education">Education</a>
			<a href="{{ site.baseurl }}/tags/education_tag">Tag</a>
		{% endif %}
      </nav>
    </header>
  </div>
</div>