
//
// VARIABLES
//


@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);


// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

$base_font: 'Jeju Gothic', serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}